.login-form {
  max-width: 300px;
  margin: 0 auto;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.ant-input-affix-wrapper .ant-input {
  min-height: 0px !important;
}

.single-foo-menu {
  position: absolute;
  z-index: 90 !important;
  width: 100%;
}

.single-menu-active .single-top-nav-bar{
  z-index: 90;
}

.single-top-nav-bar {
  position: relative;
  background-color: #008AE6;
  color: #FFF;
}
.am-navbar-title {
  color: #FFF!important;
}

.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  top: 45px !important;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 300px;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}

.am-drawer-overlay, .am-drawer-content {
  pointer-events: none;
}
